@keyframes opentop{
    0%{
        transform: translateY(-6px) rotate(0deg);
    }
    50%{
        transform: translateY(0px) rotate(0deg);
    }
    100%{
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes closetop{
    0%{
        transform: translateY(0px) rotate(90deg);
    }
    50%{
        transform: translateY(0px) rotate(0deg);
    }
    100%{
        transform: translateY(-6px) rotate(0);
    }
}

@keyframes openmid{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes closemid{
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes openbtm{
    0%{
        transform: translateY(5px) rotate(0deg);
    }
    50%{
        transform: translateY(0px) rotate(0deg);
    }
    100%{
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes closebtm{
    0%{
        transform: translateY(0px) rotate(90deg);
    }
    50%{
        transform: translateY(0px) rotate(0deg);
    }
    100%{
        transform: translateY(5px) rotate(0deg);
    }
}